//====================================================================================================
.header {
	position: relative;
	z-index: 100;

	&__content {
		max-width: 1824px;
		padding: 0px 10px;
		margin: 0px auto;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 163px;
		padding: 10px 0;
	}

	&__info {
	}
}

.menu {
	&__logo {
		position: relative;
		z-index: 3;
		display: inline-block;
		@media (max-width: $md2+px) {
			display: fixed;
			justify-content: center;
			margin-left: 100px;
		}
		@media (max-width: $md4+px) {
			margin-left: 0px;
		}
	}

	&__icon {
	}

	&__body {
		@media (max-width: $md2+px) {
			opacity: 0;
			position: fixed;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			padding: 165px 40px 10px 40px;
			transform: translate(0px, -100%);
			transition: all 0.95s ease 0s;
			z-index: 2;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 160px;
				top: 0;
				left: 0;
				z-index: 3;
				background-color: rgba($color: #123e54, $alpha: 1);
			}
			&._active {
				display: block;
				transform: translate(0px, 0%);
				opacity: 1;
			}
		}
		@media (max-width: $md3+px) {
			&::before {
				content: "";
				height: 550px;
				z-index: -1;
			}
		}
		@media (max-width: 536px) {
			&::before {
				content: "";
				height: 580px;
				z-index: -1;
			}
		}
		@media (max-width: $md4+px) {
			padding: 155px 40px 10px 40px;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md3+px) {
			display: block;
			text-align: center;
			li {
				margin: 0px 0px 30px 0px;
			}
		}
	}

	&__item {
		& + & {
			margin-left: 60px;
		}
		@media (max-width: $md1+px) {
			& + & {
				margin-left: 30px;
			}
		}
		@media (max-width: $md3+px) {
			& + & {
				margin-left: 0px;
			}
		}
	}
	&__link {
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		text-transform: lowercase;
		color: #ffffff;
		transition: all 0.2s ease 0s;
		@media (min-width: $md1+px) {
			&:hover {
				color: #00ecc2;
			}
		}
		@media (max-width: $md3+px) {
			font-size: 40px;
			display: block;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		top: 0;
		left: 0;
		white-space: nowrap;
	}
}

.contacts {
	&__phone {
		position: relative;
		z-index: 5;
		color: #fff;
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 13px;
		background: url("../img/contacts-phone.svg") left no-repeat;
		padding: 0px 0px 0px 57px;
		transition: all 0.2s ease 0s;
		@media (min-width: $md1+px) {
			&:hover {
				color: #00ecc2;
			}
		}
		@media (max-width: $md1+px) {
			background: none;
			padding: 0;
		}
		@media (max-width: $md4+px) {
			display: none;
		}
		@media (max-width: $md4+px) {
			background: url("../img/contacts-phone.svg") left no-repeat;
			width: 47px;
			height: 26px;
			font-size: 0;
			display: inline-block;
		}
	}

	&__email {
		position: relative;
		z-index: 5;
		color: #fff;
		font-size: 16px;
		line-height: 16px;
		background: url("../img/contacts-email.svg") left no-repeat;
		padding: 0px 0px 0px 20px;
		transition: all 0.2s ease 0s;
		@media (min-width: $md1+px) {
			&:hover {
				color: #00ecc2;
			}
		}
		@media (max-width: $md1+px) {
			background: none;
			padding: 0;
		}
		@media (max-width: $md4+px) {
			display: none;
		}
		@media (max-width: $md4+px) {
			background: url("../img/contacts-email.svg") left no-repeat;
			width: 47px;
			height: 26px;
			font-size: 0;
			display: inline-block;
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

.info-header {
	&__container {
		display: flex;
		flex-direction: column;
	}

	&__content {
		align-items: flex-start;
		flex: 1 1 auto;
		padding: 155px 0px 290px 0px;
		*:last-child {
			margin-bottom: 0;
		}
		@media (max-width: 1230px) {
			padding: 115px 0px 290px 50px;
		}
		@media (max-width: $md2+px) {
			padding: 80px 0px 290px 0px;
		}
		@media (max-width: $md2+px) {
			padding: 80px 0px 290px 50px;
		}
		@media (max-width: $md4+px) {
			padding: 60px 0px 290px 0px;
		}
	}

	&__subtitle {
		max-width: 380px;
		font-weight: 700;
		font-size: 18px;
		line-height: 18 / 18 * 100%;
		text-transform: lowercase;
		color: #00ecc2;
		margin: 0px 0px 30px 0px;
		letter-spacing: 0.3em;
		@media (max-width: $md3+px) {
			font-size: 13px;
		}
		@media (max-width: $md4+px) {
			font-size: 10px;
			margin: 0px 0px 20px 0px;
		}
	}

	&__title {
		max-width: 851px;
		font-weight: 900;
		font-size: 96px;
		line-height: 96 / 96 * 100%;
		text-transform: uppercase;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md2+px) {
			font-size: 56px;
		}
		@media (max-width: $md3+px) {
			font-size: 36px;
		}
		@media (max-width: $md4+px) {
			font-size: 30px;
			margin: 0px 0px 20px 0px;
		}
	}

	&__text {
		max-width: 559px;
		font-size: 36px;
		font-weight: 300;
		line-height: 36 / 36 * 100%;
		margin: 0px 0px 60px 0px;
		@media (max-width: $md2+px) {
			font-size: 26px;
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: $md3+px) {
			font-size: 16px;
		}
		@media (max-width: $md4+px) {
			font-size: 14px;
		}
	}
}
//====================================================================================================
